{% extends 'base.html.twig' %}

{% block body %}
<form action="http://localhost:8000/api/invites" method="post">
    <div>
        <label for="inputEmail">Email</label>
        <input type="text" name="email" id="inputEmail">
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('invite') }}">
    <input type="submit" value="Sign Up">
</form>
{% endblock %}