<div>
<h3>You have been invited to serpicoapp.com</h3>
<p>Please follow the link below and create your account</p>
{# add token to url #}
<a href="{{ url('signup', {token: tokenValue}) }}">Create Account</a>
</div>